Repository 2lambda123/frappe-erpnext, changes with the owners that CODEOWNERS names for each.
All owners: @nextchamp-saqib, @deepeshgarg007, @ruthra-kumar, @marination, @rohitwaghchaure, @s-aga-r, @NagariaHussain, @rutwikhdev, @chillaranand, @ruchamahabal, @ankush, @gavindsouza

fix: Discount and taxes in return document should follow the reference document
  erpnext/controllers/accounts_controller.py
  erpnext/controllers/sales_and_purchase_return.py
  erpnext/controllers/taxes_and_totals.py
  erpnext/public/js/controllers/transaction.js
Owners: @deepeshgarg007, @nextchamp-saqib, @rohitwaghchaure, @marination

fix: coupon code limits and add external plaftorm code
  erpnext/accounts/doctype/coupon_code/coupon_code.json
  erpnext/accounts/doctype/coupon_code/coupon_code.py
  erpnext/accounts/doctype/pricing_rule/utils.py
Owners: @nextchamp-saqib, @deepeshgarg007, @ruthra-kumar

feat(analytics): comply erpnext with utm methodology
  erpnext/accounts/doctype/campaign_item/campaign_item.json
  erpnext/accounts/doctype/pos_invoice/pos_invoice.json
  erpnext/accounts/doctype/pos_invoice/pos_invoice.py
  erpnext/accounts/doctype/pos_profile/pos_profile.json
  erpnext/accounts/doctype/pos_profile/pos_profile.py
  erpnext/accounts/doctype/pricing_rule/pricing_rule.json
  erpnext/accounts/doctype/pricing_rule/test_pricing_rule.py
  erpnext/accounts/doctype/sales_invoice/sales_invoice.json
  erpnext/accounts/doctype/sales_invoice/sales_invoice.py
  erpnext/crm/doctype/campaign/campaign.py
  erpnext/crm/doctype/lead/lead.json
  erpnext/crm/doctype/lead/lead.py
  erpnext/crm/doctype/opportunity/opportunity.json
  erpnext/crm/doctype/opportunity/opportunity.py
  erpnext/crm/report/campaign_efficiency/campaign_efficiency.py
  erpnext/selling/doctype/quotation/quotation.json
  erpnext/selling/doctype/quotation/quotation.py
  erpnext/selling/doctype/sales_order/sales_order.json
  erpnext/selling/doctype/sales_order/sales_order.py
  erpnext/stock/doctype/delivery_note/delivery_note.json
  erpnext/stock/doctype/delivery_note/delivery_note.py
Owners: @nextchamp-saqib, @deepeshgarg007, @ruthra-kumar, @NagariaHussain, @rohitwaghchaure, @s-aga-r

fix: sales funnel
  erpnext/selling/page/sales_funnel/sales_funnel.js
  erpnext/selling/page/sales_funnel/sales_funnel.py
  erpnext/setup/setup_wizard/data/marketing_source.txt
  erpnext/setup/setup_wizard/operations/install_fixtures.py
Owners: @nextchamp-saqib, @deepeshgarg007, @ruthra-kumar

fix: migration
  erpnext/crm/doctype/lead_source/__init__.py
  erpnext/crm/doctype/lead_source/lead_source.js
  erpnext/crm/doctype/lead_source/lead_source.json
  erpnext/crm/doctype/lead_source/lead_source.py
  erpnext/crm/doctype/lead_source/test_lead_source.py
  erpnext/patches.txt
  erpnext/patches/v15_0/migrate_to_utm_analytics.py
Owners: @NagariaHussain

fix: reports and charts
  erpnext/crm/dashboard_chart/lead_source/lead_source.json
  erpnext/crm/dashboard_chart/opportunities_via_campaigns/opportunities_via_campaigns.json
  erpnext/crm/report/campaign_efficiency/campaign_efficiency.json
  erpnext/crm/report/campaign_efficiency/campaign_efficiency.py
Owners: @NagariaHussain

fix: campaign link
  erpnext/crm/doctype/campaign/campaign.py
  erpnext/patches/v15_0/migrate_to_utm_analytics.py
  erpnext/setup/install.py
Owners: @NagariaHussain

fix: add back territory in dn
  erpnext/stock/doctype/delivery_note/delivery_note.py
Owners: @rohitwaghchaure, @s-aga-r

fix: print tracking fields on lead
  erpnext/crm/doctype/lead/lead.json
Owners: @NagariaHussain

fix: fields
  erpnext/crm/doctype/campaign/campaign.js
  erpnext/crm/doctype/lead/lead.py
Owners: @NagariaHussain

fix: workspace links
  erpnext/crm/workspace/crm/crm.json
  erpnext/selling/workspace/selling/selling.json
Owners: @NagariaHussain, @nextchamp-saqib, @deepeshgarg007, @ruthra-kumar

fix: more doctype references
  erpnext/crm/report/opportunity_summary_by_sales_stage/opportunity_summary_by_sales_stage.py
  erpnext/crm/report/opportunity_summary_by_sales_stage/test_opportunity_summary_by_sales_stage.py
  erpnext/crm/report/sales_pipeline_analytics/sales_pipeline_analytics.py
  erpnext/crm/report/sales_pipeline_analytics/test_sales_pipeline_analytics.py
  erpnext/setup/setup_wizard/operations/install_fixtures.py
  erpnext/support/doctype/service_level_agreement/test_service_level_agreement.py
Owners: @NagariaHussain, @nextchamp-saqib, @deepeshgarg007

ci: advance pin correct frappe version (REVERT BEFORE MERGE)
  .github/workflows/patch.yml
  .github/workflows/server-tests-mariadb.yml
  .github/workflows/server-tests-postgres.yml
Owners: @ankush

fix(utm): sales invoice pos invoice relation
  erpnext/accounts/doctype/sales_invoice/sales_invoice.js
Owners: @nextchamp-saqib, @deepeshgarg007, @ruthra-kumar

feat(lpe): add distretionary reason
  erpnext/accounts/doctype/loyalty_point_entry/loyalty_point_entry.json
  erpnext/accounts/doctype/loyalty_point_entry/loyalty_point_entry.py
Owners: @nextchamp-saqib, @deepeshgarg007, @ruthra-kumar

fix(utm): migration
  erpnext/patches.txt
Owners: none

chore: linter
  erpnext/accounts/doctype/account/account.py
Owners: @nextchamp-saqib, @deepeshgarg007, @ruthra-kumar

fix: consider advance payment already adjusted for tds calculation
  erpnext/accounts/doctype/purchase_invoice/purchase_invoice.py
  erpnext/accounts/doctype/tax_withholding_category/tax_withholding_category.py
Owners: @nextchamp-saqib, @deepeshgarg007, @ruthra-kumar

fix: workspaces
  erpnext/crm/workspace/crm/crm.json
  erpnext/selling/workspace/selling/selling.json
Owners: @NagariaHussain, @nextchamp-saqib, @deepeshgarg007, @ruthra-kumar

refactor: explicate intent on make_payment_request interface
  erpnext/accounts/doctype/payment_request/payment_request.py
  erpnext/accounts/doctype/payment_request/test_payment_request.py
Owners: @nextchamp-saqib, @deepeshgarg007, @ruthra-kumar

feat: add loyalty points to Tx Data
  erpnext/accounts/doctype/payment_request/payment_request.py
Owners: @nextchamp-saqib, @deepeshgarg007, @ruthra-kumar

feat: support a new payment controller
  erpnext/accounts/doctype/payment_request/payment_gateway_v1.py
  erpnext/accounts/doctype/payment_request/payment_request.json
  erpnext/accounts/doctype/payment_request/payment_request.py
  erpnext/accounts/doctype/payment_request/test_payment_request.py
  erpnext/accounts/doctype/repost_accounting_ledger/test_repost_accounting_ledger.py
  erpnext/selling/doctype/sales_order/test_sales_order.py
Owners: @nextchamp-saqib, @deepeshgarg007, @ruthra-kumar

feat: add display reference document
  erpnext/accounts/doctype/payment_request/payment_request.py
Owners: @nextchamp-saqib, @deepeshgarg007, @ruthra-kumar

fix: hot path in page load
  erpnext/public/js/financial_statements.js
  erpnext/public/js/utils.js
Owners: @nextchamp-saqib, @marination

fix: Prevent set_payment_schedule when creating Sales Invoice that is return
  erpnext/stock/doctype/delivery_note/delivery_note.py
Owners: @rohitwaghchaure, @s-aga-r

fix: 'Fetch Subscription Updates' action for Subscription
  erpnext/accounts/doctype/subscription/subscription.py
Owners: @nextchamp-saqib, @deepeshgarg007, @ruthra-kumar

fix: incorrect current qty for the batch in stock reco
  erpnext/stock/doctype/serial_and_batch_bundle/serial_and_batch_bundle.py
  erpnext/stock/doctype/stock_reconciliation/stock_reconciliation.py
  erpnext/stock/doctype/stock_reconciliation/test_stock_reconciliation.py
Owners: @rohitwaghchaure, @s-aga-r

CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

erpnext/accounts/               @nextchamp-saqib @deepeshgarg007 @ruthra-kumar
erpnext/assets/                 @nextchamp-saqib @deepeshgarg007 @ruthra-kumar
erpnext/erpnext_integrations/   @nextchamp-saqib
erpnext/loan_management/        @nextchamp-saqib @deepeshgarg007
erpnext/regional                @nextchamp-saqib @deepeshgarg007 @ruthra-kumar
erpnext/selling                 @nextchamp-saqib @deepeshgarg007 @ruthra-kumar
erpnext/support/                @nextchamp-saqib @deepeshgarg007
pos*                            @nextchamp-saqib

<<<<<<< HEAD
erpnext/buying/                 @marination @rohitwaghchaure @s-aga-r
erpnext/e_commerce/             @marination
erpnext/maintenance/            @marination @rohitwaghchaure @s-aga-r
erpnext/manufacturing/          @marination @rohitwaghchaure @s-aga-r
erpnext/portal/                 @marination
erpnext/quality_management/     @marination @rohitwaghchaure @s-aga-r
erpnext/shopping_cart/          @marination
erpnext/stock/                  @marination @rohitwaghchaure @s-aga-r
=======
erpnext/buying/                 @rohitwaghchaure @s-aga-r
erpnext/maintenance/            @rohitwaghchaure @s-aga-r
erpnext/manufacturing/          @rohitwaghchaure @s-aga-r
erpnext/quality_management/     @rohitwaghchaure @s-aga-r
erpnext/stock/                  @rohitwaghchaure @s-aga-r
>>>>>>> ac57101833 (chore: Update code owners)

erpnext/crm/                    @NagariaHussain
erpnext/education/              @rutwikhdev
erpnext/healthcare/             @chillaranand
erpnext/hr/                     @ruchamahabal
erpnext/non_profit/             @ruchamahabal
erpnext/payroll                 @ruchamahabal
erpnext/projects/               @ruchamahabal

erpnext/controllers             @deepeshgarg007 @nextchamp-saqib @rohitwaghchaure @marination
erpnext/patches/                @deepeshgarg007 @nextchamp-saqib @marination rohitwaghchaure
erpnext/public/                 @nextchamp-saqib @marination

.github/                        @ankush
requirements.txt                @gavindsouza @ankush
